@use 'base.scss' as *;

.stats-card {
	display: grid;

	max-width: 460px;
	background-color: var(--clr-primary-400);
	border-radius: 0.5rem;
	overflow: hidden;

	@include respond(lg) {
		grid-template-columns: repeat(2, 1fr);
		max-width: 1000px;
	}

	&__img {
		position: relative;
		filter: contrast(130%);

		@include respond(lg) {
			grid-column: 2;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: hsla(277, 75%, 41%, 0.5);
		}
	}

	&__content {
		padding: 2.4rem 2.2rem;
		text-align: center;

		@include respond(lg) {
			grid-row: 1;
			padding: 4rem 5rem 2rem 4rem;
			text-align: left;
		}
	}

	&__stats-container {
		--content-spacing: 1.5rem;

		margin-top: 1.5rem;

		@include respond(md) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__stat {
		&-number {
			color: var(--clr-neutral-900);
			font-size: var(--fs-500);
			font-weight: var(--fw-bold);
			line-height: 1.3;

			@include respond(md) {
				line-height: 1.5;
			}
		}

		&-title {
			color: var(--clr-neutral-700);
			font-family: var(--ff-body);
			font-size: var(--fs-300);
			letter-spacing: 1px;
			text-transform: uppercase;
		}
	}
}
